asn1crypto==0.24.0
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
bs4==0.0.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
colorlover==0.3.0
conda==4.5.12
cryptography==2.4.2
cycler==0.10.0
decorator==4.4.0
defusedxml==0.5.0
entrypoints==0.3
et-xmlfile==1.0.1
Fiona==1.8.6
geopandas==0.4.1
html5lib==1.0.1
idna==2.8
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
kiwisolver==1.0.1
lxml==4.3.3
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
munch==2.3.2
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.2
packaging==19.0
pandas==0.24.2
pandas-profiling==1.4.1
pandocfilters==1.4.2
parso==0.4.0
patsy==0.5.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
pip-review==1.0
plotly==3.7.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycosat==0.6.3
pycparser==2.19
Pygments==2.3.1
pyOpenSSL==18.0.0
pyparsing==2.3.1
pyproj==2.1.3
pyrsistent==0.14.11
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.3
requests==2.21.0
retrying==1.3.3
ruamel-yaml==0.15.46
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
six==1.12.0
sklearn==0.0
soupsieve==1.9
statsmodels==0.9.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.2
tqdm==4.31.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
